body{
    background-color: black;
}
h1{
    color: red;
}
.menu{
    background-color: white;
    display: flex;
    flex-direction: row;
}
.menu img{
    width: 60px;
}
.menu li{
    display: inline-block;
}
.menu li a{
    margin: 10px;
    text-decoration: none;
    color: black;
}
.menu li a:hover{
    color: red;
    background-color: yellow;
    border-radius: 50%;
}
h2{
    color: white;
    text-align: center;
}